djangorestframework
djangorestframework-simplejwt
django-environ
django-rest-auth
django-allauth
mysqlclient
social-auth-app-django
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
p